{% extends "layouts.html" %}

{% block content %}
<!-- including slider block -->
{% include 'slider.html' %}


<div class="jumbotron" >
    <h1 class="text-center">Home Page</h1>
    <!-- parsed data from views -->
    <p> Name : {{ name }}</p>
    <p> Age : {{ age }} </p>
    <p> Phone : {{ phone }} </p>
<!-- adding a list of values using for loop in django -->
    <ul class="list">
        {% for row in friend %}
        <li class="list-item">{{ row }}</li>
        {% endfor %}    

        
    </ul>
</div>
{% endblock content %}